div{
  border: 1px solid black;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

#box-one{
  order: 1;
}