* { background-color: aqua;}

   h1{
    font-size: 30px;
    background-color: azure;
    text-align: center;
    border: blue; 
    margin: 10px;
    font-style: oblique;
}


p{
  font-style: italic;

}